<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        

<mapper namespace="com.zucc.kcgl.mapper.ApplicationMapper">
	
	
	<insert id="addApl" parameterType="com.zucc.kcgl.model.Application">
		insert application(method,loginName,equId,purpose,returnTime,phone,remark,state,orderState) 
		values(#{method},#{loginName},#{equId},#{purpose},#{returnTime},#{phone},#{remark},#{state},'valid')
	</insert>
	
	
	<select id="getApl" parameterType="int" resultType="com.zucc.kcgl.model.Application">
		select * from application where aplId=#{aplId}
	</select>
	
	<update id="updateApl" parameterType="com.zucc.kcgl.model.Application">
		update application  set method=#{method},loginName=#{loginName},equId=#{equId},
		purpose=#{purpose},returnTime=#{returnTime},phone=#{phone},remark=#{remark},
		state=#{state},orderState=#{orderState}
		 where aplId=#{aplId}
	</update>
	
	<select id="getAplBySort" parameterType="Map"  resultType="com.zucc.kcgl.model.Application">
		select * from application 
		<where>
			<if test="method!=null">
				method like #{method}
			</if>
			<if test="loginName!=null">
				and loginName like #{loginName}
			</if>
			<if test="equId!=null">
				and equId like #{equId}
			</if>
			<if test="state!=null">
				and state like #{state}
			</if>
		</where>
		limit #{startPage},#{pageSize}
	</select>
	
	
	<select id="getAplCount"  resultType="int">
		select count(*) from application  
	</select>
	
	<select id="getOrderApl" parameterType="int" resultType="com.zucc.kcgl.model.Application">
		select * from application where method='order' and state='pass' and orderstate='valid' and equid=#{equId}
	</select>  


	
	
	

</mapper>
