<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        

<mapper namespace="com.zucc.kcgl.mapper.EquMapper">
	
	
	<insert id="addEqu" parameterType="com.zucc.kcgl.model.Equipment">
		insert equipment(equName,type,version,inDate,outDate,price,owner,manager,remark,state,img) 
		values(#{equName},#{type},#{version},#{inDate},#{outDate},#{price},#{owner},#{manager},#{remark},#{state},#{img})
	</insert>
	
	<delete id="deleteEqu" parameterType="int">
		delete from equipment
		where equId=#{equId}
	</delete>
	
	<select id="getEqu" parameterType="int" resultType="com.zucc.kcgl.model.Equipment">
		select * from equipment where equId=#{equId}
	</select>
	
	<update id="updateEqu" parameterType="com.zucc.kcgl.model.Equipment">
		update equipment set equName=#{equName},type=#{type},version=#{version},
		inDate=#{inDate},outDate=#{outDate},price=#{price},owner=#{owner},
		manager=#{manager},remark=#{remark},state=#{state},img=#{img}
		where equId=#{equId}
	</update>
	
	
	<select id="getAllEqu" resultType="com.zucc.kcgl.model.Equipment">
		select * from equipment 
	</select>
	
	<select id="getPageEquSort" parameterType="Map" resultType="com.zucc.kcgl.model.Equipment">
		select * from equipment 
		<where>
			<if test="equName!=null">
				equName like CONCAT('%',#{equName},'%')
			</if>
			
			<if test="type!=null">
				and type like #{type}
			</if>
			
			<if test="state!=null">
				and state like #{state}
			</if>
		</where>
		limit #{startPage},#{pageSize}
		
	</select>	
	
	<select id="getEquCount"  resultType="int">
		select count(*) from equipment  
	</select>

</mapper>
