<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        

<mapper namespace="com.zucc.kcgl.mapper.RecordMapper">

	
	<insert id="addRecord" parameterType="com.zucc.kcgl.model.EquRecord">
		insert equrecord(state,date,remark,equId,loginName,registrar) 
		values(#{state},#{date},#{remark},#{equId},#{loginName},#{registrar})
	</insert>
	
	<update id="updateRecord" parameterType="com.zucc.kcgl.model.EquRecord">
		update equrecord set state=#{state},date=#{date},remark=#{remark},
		equId=#{equId},loginName=#{loginName},registrar=#{registrar} 
		 where recordId=#{recordId}
	</update>
	
	<delete id="deleteRecord" parameterType="int">
		delete from equrecord
		where recordId=#{recordId}
	</delete>
	
	<select id="getRecord"  parameterType="int" resultType="com.zucc.kcgl.model.EquRecord">
		select * from equrecord where recordId=#{recordId}
	</select>
	
	<select id="getRecordByEqu"  parameterType="int" resultMap="recordInfByEqu">
		select r.recordId,r.state,r.date,r.remark,r.equId,r.loginName,r.registrar,
		u.userName,e.equName,e.version 
		from equrecord r,user u,equipment e 	
		where r.equId=e.equId and u.loginName=r.loginName and r.equid=#{equId}
	</select>
	<resultMap type="com.zucc.kcgl.model.EquRecord" id="recordInfByEqu">
		<result column="recordId" property="recordId"/>
		<result column="state" property="state"/>
		<result column="date" property="date"/>
		<result column="remark" property="remark"/>
		<result column="equId" property="equId"/>
		<result column="loginName" property="loginName"/>
		<result column="registrar" property="registrar"/>
		<association property="equipment" javaType="com.zucc.kcgl.model.Equipment">
			<result column="equId" property="equId"/>
			<result column="equName" property="equName"/>
			<result column="version" property="version"/>
		</association>
		<association property="user" javaType="com.zucc.kcgl.model.User">
			<result column="loginName" property="loginName"/>
			<result column="userName" property="userName"/>
		</association>
	</resultMap>
	
	<select id="getRecordByUser" parameterType="String"  resultMap="recordInfByUser">
		select r.recordId,r.state,r.date,r.remark,r.equId,r.loginName,r.registrar,
		u.userName,e.equName,e.version 
		from equrecord r,user u,equipment e 
		where r.equId=e.equId and u.loginName=r.loginName and r.loginName=#{loginName}
	</select>
	<resultMap type="com.zucc.kcgl.model.EquRecord" id="recordInfByUser">
		<result column="recordId" property="recordId"/>
		<result column="state" property="state"/>
		<result column="date" property="date"/>
		<result column="remark" property="remark"/>
		<result column="equId" property="equId"/>
		<result column="loginName" property="loginName"/>
		<result column="registrar" property="registrar"/>
		<association property="equipment" javaType="com.zucc.kcgl.model.Equipment">
			<result column="equId" property="equId"/>
			<result column="equName" property="equName"/>
			<result column="version" property="version"/>
		</association>
		<association property="user" javaType="com.zucc.kcgl.model.User">
			<result column="loginName" property="loginName"/>
			<result column="userName" property="userName"/>
		</association>
	</resultMap>
	
	<select id="getTime"  parameterType="Map" resultType="java.util.Date" >
		select date from equrecord where equid=#{equId} and state=#{state}
	</select>
	
	

</mapper>
