<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        

<mapper namespace="com.zucc.kcgl.mapper.SuAplMapper">

	
	<insert id="addSuApl" parameterType="com.zucc.kcgl.model.SucApplication">
		insert sucapplication(equId,state,code,loginName) 
		values(#{equId},#{state},#{code},#{loginName})
	</insert>
	
	
	<update id="updateSuAplByCode" parameterType="Map">
		update sucapplication set state=#{state}
		 where code=#{code}
	</update>
	
	<update id="updateSuAplToDie" parameterType="int">
		update sucapplication set state='invalid'
		 where sucAplId=#{sucAplId}
	</update>
	
	<select id="getSuAplByEquAndIn" parameterType="Integer" resultType="com.zucc.kcgl.model.SucApplication">
		select *
		from sucapplication
		where state="out" and equId=#{equId}
	</select>
	
	<select id="getSuApl" parameterType="String" resultMap="suAplInf">
		select sa.sucAplId,sa.equId,sa.state,sa.code,sa.loginName,
		u.userName,e.equName,e.version 
		from sucapplication sa,user u,equipment e 
		where sa.loginName=u.loginName and sa.equId=e.equId and sa.code=#{code}
	</select>
	<resultMap type="SucApplication" id="suAplInf">
		<result column="sucApcId" property="sucApcId"/>
		<result column="equId" property="equId"/>
		<result column="state" property="state"/>
		<result column="code" property="code"/>
		<result column="loginName" property="loginName"/>
		<association property="equipment" javaType="com.zucc.kcgl.model.Equipment">
			<result column="equId" property="equId"/>
			<result column="equName" property="equName"/>
			<result column="version" property="version"/>
		</association>
		<association property="user" javaType="com.zucc.kcgl.model.User">
			<result column="loginName" property="loginName"/>
			<result column="userName" property="userName"/>
		</association>
	</resultMap>
	
	<!-- <select id="getOutSuApl" parameterType="int" resultType="com.zucc.kcgl.model.SucApplication">
		select * from sucapplication where code=#{code} and state='out'
	</select> -->
	
	<select id="getAllSuAplByUser" parameterType="String" resultMap="suAplAllInf">
		select sa.sucAplId,sa.equId,sa.state,sa.code,sa.loginName,
		u.userName,e.equName,e.version 
		from sucapplication sa,user u,equipment e
		where sa.loginName=u.loginName and sa.equId=e.equId and sa.loginName=#{loginName}
	</select>
	<resultMap type="SucApplication" id="suAplAllInf">
		<result column="sucApcId" property="sucApcId"/>
		<result column="equId" property="equId"/>
		<result column="state" property="state"/>
		<result column="code" property="code"/>
		<result column="loginName" property="loginName"/>
		<association property="equipment" javaType="com.zucc.kcgl.model.Equipment">
			<result column="equId" property="equId"/>
			<result column="equName" property="equName"/>
			<result column="version" property="version"/>
		</association>
		<association property="user" javaType="com.zucc.kcgl.model.User">
			<result column="loginName" property="loginName"/>
			<result column="userName" property="userName"/>
		</association>
	</resultMap>
	

</mapper>
